<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>系统设置</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_tnyc012u2rlwstt9.css" media="all"/>
    <style>
        .layui-form-label {
            width: 30%;
        }

        .layui-input {
            width: 60%;
        }
    </style>
</head>
<body>

<fieldset class="layui-elem-field">
    <legend>系统设置</legend>
    <div class="layui-row">
        <div class="layui-form">
            <div class="layui-form-item dataEle" th:each="config,configStat : ${configList}">
                <label class="layui-form-label" th:text="${config.remarks}"></label>
                <div class="layui-input-block">
                    <input type="text" hidden class="id" th:value="${config.id}">
                    <input type="text" class="layui-input configValue" th:value="${config.configValue}">
                    <input type="text" hidden class="configKey" th:value="${config.configKey}">
                </div>
            </div>
            <div class="layui-form-item" style="padding-left: 30%;">
                <div class="layui-input-block">
                    <button class="layui-btn" id="save">保存</button>
                </div>
            </div>
        </div>
    </div>
</fieldset>

</body>
<script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/static/admin/js/config/list.js}"></script>
</html>