<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>账号列表</title>
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all"/>
</head>
<body>
<fieldset class="layui-elem-field">
    <legend>账号检索</legend>
    <div class="layui-field-box">
        <form class="layui-form">
            <div class="layui-inline">
                <input type="text" value="" name="keyword" placeholder="输入搜索关键字" class="layui-input">
            </div>
            <div class="layui-inline">
                <select name="status">
                    <option value="">选择账号状态</option>
                    <option value="0">未登录</option>
                    <option value="1">已登录</option>
                    <option value="2">失效</option>
                </select>
            </div>
            <div class="layui-inline">
                <select name="type">
                    <option value="">选择账号类型</option>
                    <option value="1">顶价账号</option>
                    <option value="2">违约账户</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <a class="layui-btn" lay-submit="" lay-filter="searchForm">查询</a>
            </div>
            <div class="layui-inline">
                <a class="layui-btn layui-btn-danger" data-type="delSome">批量删除选中</a>
            </div>
            <div class="layui-inline">
                <a class="layui-btn layui-btn-normal" data-type="addAccount">添加顶价账号</a>
            </div>
        </form>
    </div>
</fieldset>

<div class="layui-form">
    <table class="layui-table" id="accountTable" lay-filter="accountList"></table>

    <script type="text/html" id="accountBar">
<!--        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>-->
        <a class="layui-btn layui-btn-xs" lay-event="login">登录</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>

    <div id="page"></div>
</div>

<script type="text/html" id="status">
    {{# if(d.status == 0) { }}
    <span class="layui-badge layui-bg-gray" >未登录</span>
    {{# }else if(d.status == 1){ }}
    <span class="layui-badge layui-bg-green" >已登录</span>
    {{# }else if(d.status == 2){ }}
    <span class="layui-badge layui-bg-red" >失效</span>
    {{# }else{ }}
    <span class="layui-badge layui-bg-red" >次数限制</span>
    {{# }  }}
</script>

</body>

<div id="addPhone" hidden class="layui-form-item" >
    <label class="layui-form-label">手机号:</label>
    <div class="layui-input-inline">
        <input type="text" id="phone" name="phone" class="layui-input">
    </div>
    <div class="layui-input-inline" style="padding-left: 40%;padding-top: 10px" >
        <button class="layui-btn " id="saveAccount">提交</button>
    </div>
</div>

<div id="addSomePhone" hidden class="layui-form-item" >
    <label class="layui-form-label">手机号数量:</label>
    <div class="layui-input-inline">
        <input type="text" id="count" name="count" class="layui-input">
    </div>
    <div class="layui-input-inline" style="padding-left: 40%;padding-top: 10px" >
        <button class="layui-btn " id="saveSomeAccount">提交</button>
    </div>
</div>

<script type="text/html" id="accountType">
    {{# if(d.type == 1) { }}
    <span class="layui-badge layui-bg-green" >顶价账号</span>
    {{# }else{ }}
    <span class="layui-badge layui-bg-gray" >违约账号</span>
    {{# }  }}
</script>


<script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/static/admin/js/account/list.js}"></script>
</html>