<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>账号列表</title>
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all"/>
</head>
<body>
<fieldset class="layui-elem-field">
    <legend>账号检索</legend>
    <div class="layui-field-box">
        <form class="layui-form">
            <div class="layui-inline">
                <input type="text" value="" name="keyword" placeholder="输入搜索关键字" class="layui-input">
            </div>
            <div class="layui-inline">
                <select name="status">
                    <option value="">选择账号状态</option>
                    <option value="0">未登录</option>
                    <option value="1">已登录</option>
                    <option value="2">失效</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <a class="layui-btn" lay-submit="" lay-filter="searchForm">查询</a>
            </div>

            <div class="layui-inline">
                <a class="layui-btn layui-btn-normal" data-type="addAccount">添加账号</a>
            </div>
        </form>
    </div>
</fieldset>

<div class="layui-form">
    <table class="layui-table" id="accountTable" lay-filter="accountList"></table>

    <script type="text/html" id="accountBar">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-xs" lay-event="login">登录</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>

    <div id="page"></div>
</div>

</body>
<script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/static/admin/js/account/list.js}"></script>
</html>