<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>重置密码</title>
		<link rel="stylesheet" href="/static/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="/static/css/login.css" media="all" />
		<link rel="stylesheet" href="/static/css/register.css" media="all" />
		<style>
			#register01{
				margin: 0px auto;
			}
			#register01 .layui-input{
				width: 300px;
				height: 36px;
				display: inline-block;
				margin-top: 30px;
			}
		</style>
	</head>
	<body>

		<!-- Carousel -->
		<div class="layui-row">
			<div class="layui-col-sm12 layui-col-md12">
				<div class="layui-carousel zyl_login_height" id="zyllogin" lay-filter="zyllogin">
					<div carousel-item="">
						<div>
							<div class="zyl_login_cont"></div>
						</div>
						<div>
							<img src="../Web/img/carousel/01.jpg" />
						</div>
						<div>
							<div class="background">
								<span></span><span></span><span></span>
								<span></span><span></span><span></span>
								<span></span><span></span><span></span>
								<span></span><span></span><span></span>
							</div>
						</div>
						<div>
							<img src="../static/img/carousel/03.jpg" />
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Carousel End -->


		<!-- LoginForm -->
		<div class="zyl_lofo_main">
			<fieldset class="layui-elem-field layui-field-title zyl_mar_02">
				<legend>重置密码</legend>
			</fieldset>
			<div class="layui-row layui-col-space15" id="register01">
				<form class="layui-form zyl_pad_01" action="" method="post">
					<div class="layui-input-inline">
						<input type="text" name="pass" lay-verify="required|pass" autocomplete="off" placeholder="请输入旧密码" class="layui-input" id="pass">
					</div>
					<div class="layui-input-inline">
						<div class="layui-input-inline">
							<input type="password" lay-verify="required|word" name="word" placeholder="请输入新密码" class="layui-input" id="pwd">
						</div>

						<div class="layui-col-sm12 layui-col-md12">
							<button class="layui-btn layui-btn-fluid" lay-submit="submit" lay-filter="demo1" style="margin-top: 30px;background: red;width: 300px">更改密码</button>
						</div>
						
				</form>
			</div>
		</div>
		<!-- LoginForm End -->


		<!-- Jquery Js -->
		<script type="text/javascript"src="js/forget.js"></script>
		<script type="text/javascript" src="/static/js/jquery-3.4.1.min.js"></script>
		<!-- Layui Js -->
		<script type="text/javascript" src="/static/layui/layui.js"></script>
		<!-- Jqarticle Js -->
		<script type="text/javascript" src="/static/assembly/jqarticle/jparticle.min.js"></script>
		<!-- ZylVerificationCode Js-->
		<script type="text/javascript" src="/static/js/assembly/zylVerificationCode/zylVerificationCode.js"></script>
		<script>
			layui.use(['carousel', 'form','jquery'], function() {
				var carousel = layui.carousel,
					form = layui.form;
					$ = layui.jquery;
				//自定义验证规则
				form.verify({
					title: function(value) {
						if (value.length < 2) {
							return '账号至少得3个字符';
						}
					},
					pass: [/^[\S]{6,12}$/, '密码必须6到12位，且不能出现空格'],
					content: function(value) {
						layedit.sync(editIndex);
					}
				});

				//监听提交
				form.on('submit(demo1)', function(data){
				        $.ajax({
				            url: "/sysUser/changePassword",
				            type:"post",
				            data: {
								pass:$("#pass").val(),
								word:$("#pwd").val()
							},
				            success: function (info) {
				                if (info.code === 200) {
									layer.msg(info.msg);
				                    window.location.href="/sysUser/login";
				                }else {
				                  layer.msg(info.msg);
				                }
				            },
				            error:function(data){
				                alert("服务器繁忙");
				            }
				        });
				    return false;
				});


				//设置轮播主体高度
				var zyl_login_height = $(window).height();
				var zyl_car_height = $(".zyl_login_height").css("cssText", "height:" + zyl_login_height + "px!important");


				//Login轮播主体
				carousel.render({
					elem: '#zyllogin' //指向容器选择器
						,
					width: '100%' //设置容器宽度
						,
					height: 'zyl_car_height',
					arrow: 'always' //始终显示箭头
						,
					anim: 'fade' //切换动画方式
						,
					autoplay: true //是否自动切换false true
						,
					arrow: 'hover' //切换箭头默认显示状态||不显示：none||悬停显示：hover||始终显示：always
						,
					indicator: 'none' //指示器位置||外部：outside||内部：inside||不显示：none
						,
					interval: '5000' //自动切换时间:单位：ms（毫秒）
				});

				//监听轮播--案例暂未使用
				carousel.on('change(zyllogin)', function(obj) {
					var loginCarousel = obj.index;
				});

				//粒子线条
				$(".zyl_login_cont").jParticle({
					background: "rgba(0,0,0,0)", //背景颜色
					color: "#fff", //粒子和连线的颜色
					particlesNumber: 100, //粒子数量
					//disableLinks:true,//禁止粒子间连线
					//disableMouse:true,//禁止粒子间连线(鼠标)
					particle: {
						minSize: 1, //最小粒子
						maxSize: 3, //最大粒子
						speed: 30, //粒子的动画速度
					}
				});

			});
		</script>
	</body>
</html>
