<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>登陆页面</title>
		<link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all" />
		<link rel="stylesheet"  th:href="@{/static/css/login.css}" media="all"/>
	</head>
	<body class="body">
		<!-- LoginForm -->
		<div class="zyl_lofo_main" style="
				background-size:500px 300px; margin-right: 450px;height: 400px;">
			<fieldset class="layui-elem-field layui-field-title zyl_mar_02">
				<legend>用户登录</legend>
			</fieldset>
			<div class="user_login">
				<form class="layui-form" action="{:url('login/login')}" method="post">
				<input type="text" placeholder="请输入用户名" required  lay-verify="required|userName"  name="username" class="input_login" id="user">
				<input type="password" placeholder="请输入密码" required  lay-verify="required|pass" name="password"class="input_login" id="pwd">
					<button class="input_login" lay-submit="submit" lay-filter="demo1" id="enterSubmit">立即登录</button>
				<hr style="width: 85%" />
				<p style="width: 85%"><a href="#" name class="fl" style="margin-left: 75px;">没有账号？立即注册</a><a href="#" class="fr" style="margin-left: 110px;">忘记密码？</a></p>
				</form>
			</div>
		</div>
		<!-- Jquery Js -->
		<script type="text/javascript" th:src="@{/static/js/jquery-3.4.1.min.js}"></script>
		<!-- Layui Js -->
		<script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
		<!-- Jqarticle Js -->
		<script type="text/javascript" th:src="@{/static/assembly/jqarticle/jparticle.min.js}"></script>
		<!-- ZylVerificationCode Js-->
		<script type="text/javascript" th:src="@{/static/js/assembly/zylVerificationCode/zylVerificationCode.js}"></script>
		<!--	登录页面显示效果	-->	`
		<script type="text/javascript" th:src="@{/static/assembly/zylVerificationCode/login.js}"></script>

	</body>
</html>
