<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whtt.cellingprice.mapper.SysOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.whtt.cellingprice.entity.pojo.SysOrder">
        <id column="id" property="id" />
        <result column="customer_id" property="customerId" />
        <result column="commodity" property="commodity" />
        <result column="status" property="status" />
        <result column="deduct_integral" property="deductIntegral" />
        <result column="remarks" property="remarks" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, customer_id, commodity, status, deduct_integral, remarks, create_time
    </sql>

</mapper>
