<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whtt.cellingprice.mapper.SysRechargeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.whtt.cellingprice.entity.pojo.SysRecharge">
        <id column="id" property="id" />
        <result column="customer_id" property="customerId" />
        <result column="money" property="money" />
        <result column="integral" property="integral" />
        <result column="create_id" property="createId" />
        <result column="create_time" property="createTime" />
        <result column="update_id" property="updateId" />
        <result column="update_time" property="updateTime" />
        <result column="standby_application" property="standbyApplication" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, customer_id, money, integral, create_id, create_time, update_id, update_time, standby_application
    </sql>
    <select id="getSumIntegral" resultType="java.lang.Integer">
        select sum(integral)
            from sys_recharge
        <where>
            <if test="customerId != null and customerId != 0">
                and customer_id = #{customerId}
            </if>
            <if test="date != null and date != '' ">
                and create_time like CONCAT(CONCAT('%', #{date}), '%')
            </if>
        </where>
    </select>

</mapper>
